NET "RST" LOC = P27;
NET "CLK" LOC = P22;

NET "RGB1[0]" LOC = P102;
NET "RGB1[1]" LOC = P101;
NET "RGB1[2]" LOC = P100;

NET "RGB2[0]" LOC = P99;
NET "RGB2[1]" LOC = P98;
NET "RGB2[2]" LOC = P97;

NET "ABCD[0]" LOC = P95;
NET "ABCD[1]" LOC = P87;
NET "ABCD[2]" LOC = P94;
NET "ABCD[3]" LOC = P88;

NET "CLK_OUT" LOC = P93;
NET "OE" LOC = P92;
NET "LAT" LOC = P85;
NET "LED_DEBUG" LOC = P29;


